* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "EB Garamond", serif;
  background-color: white;
  margin: 0;
  padding: 0;
  color: #9b9b9b;
  font-size: 18px;
  font-weight: 300;
}

a {
  color: #d1a545;
}

.hero {
  margin: 0;
  color: white;
  min-height: 800px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(201, 117, 78, 0.3)), url(/images/K&J_091-Edit.jpg) center/cover;
}

.header {
  text-align: center;
  font-style: italic;
  font-size: 26px;
  font-family: "EB Garamond", serif;
  letter-spacing: 2px;
}
.header__date {
  font-family: "Montserrat", sans-serif;
  background-color: #d1a545;
  font-style: normal;
  display: inline-block;
  padding: 15px 30px;
  font-size: 12px;
  letter-spacing: 3px;
  margin-top: 50px;
  margin-bottom: 100px;
}

h1 {
  font-family: "Cormorant Garamond", serif;
  text-transform: uppercase;
  font-size: 80px;
  font-weight: 300;
  margin: 0;
  padding-top: 350px;
  color: white;
  letter-spacing: 5px;
  font-style: normal;
}
h1::after {
  content: url(/images/ornamen-18.svg);
  display: block;
  line-height: 20px;
}

.logo {
  min-width: 200px;
}
.logo__content {
  font-family: "Fuggles", cursive;
  color: white;
  margin: 0;
  font-size: 40px;
}
.logo__content--reverse {
  color: #3b3838;
  font-size: 70px;
}

.nav {
  text-align: center;
  margin: 0;
}
@media screen and (min-width: 600px) {
  .nav {
    display: flex;
    justify-content: space-between;
  }
}
.nav .menu__list {
  list-style: none;
  padding: 0;
}
@media screen and (min-width: 600px) {
  .nav .menu__list {
    display: flex;
    justify-content: space-around;
  }
}
.nav .menu__item a {
  margin: 20px;
  padding: 10px 20px 0 0;
  color: #ffffff;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 3px;
}
.nav .menu__item a:hover {
  border-bottom: 1px solid #e4bd48;
}

h2 {
  color: #4d504a;
  padding-top: 100px;
  margin-top: 0;
  text-align: center;
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 5px;
  font-family: "Cormorant Garamond", serif;
}
h2::after {
  content: url(/images/ornament-dark.svg);
  display: block;
  line-height: 20px;
}

h3 {
  color: #4d504a;
  font-family: "EB Garamond", serif;
}

.place {
  color: #9b9b9b;
  text-align: center;
}
.place__text {
  font-style: italic;
  font-size: 24px;
  max-width: 85%;
  margin: auto;
}

iframe {
  margin: 0;
  padding: 0;
  display: block;
}

.contacts {
  background-color: #f4f0ed;
}
.contacts h2::after {
  content: "";
  background: url(/images/divider2.svg);
  width: 600px;
  height: 80px;
  background-size: 600px 80px;
  display: block;
  margin: auto;
}
.contacts__box {
  width: 80%;
  padding-bottom: 180px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 50px;
}
.contacts__gradient {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(201, 117, 78, 0.3));
}
.contacts__divider {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.card {
  text-align: center;
}
.card__foto {
  width: 100%;
  padding: 30px;
}

.info {
  background-color: #f4f0ed;
  background: url(/images/leaf-ornament.png);
  background-position: bottom center;
  background-repeat: no-repeat;
  padding-bottom: 100px;
}
.info__box {
  max-width: 85%;
  margin: 100px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.box {
  position: relative;
  text-align: center;
  border: 3px double #e4bd48;
  padding: 20px;
}
.box__icon {
  position: absolute;
  top: -25px;
  left: 0;
  right: 0;
  margin: auto;
  fill: #ffffff;
  background-color: #e4bd48;
  border-radius: 50%;
  padding: 5px;
  width: 50px;
}

.gallery {
  background-color: #f4f0ed;
}
.gallery__grid {
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.gallery__grid img {
  width: 100%;
}

.form {
  background: url(/images/bg.jpg) center/cover;
  text-align: center;
}
.form__text {
  max-width: 70%;
  margin: auto;
}
.form__button {
  display: inline-block;
  background-color: #e4bd48;
  color: white;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 10px;
  margin: 130px;
}

.accom {
  text-align: center;
  max-width: 85%;
  margin: auto;
  padding-bottom: 100px;
}

.story {
  padding-bottom: 100px;
  text-align: center;
  background-color: #f4f0ed;
}
.story p {
  max-width: 85%;
  margin: auto;
}
.story h2::after {
  content: "";
  background: url(/images/divider.svg);
  width: 600px;
  height: 80px;
  background-size: 600px 80px;
  display: block;
  margin: auto;
}

.footer {
  margin-top: 100px;
  text-align: center;
}
.footer__menu .menu__list {
  margin-top: 100px;
  list-style: none;
  padding: 0;
}
@media screen and (min-width: 800px) {
  .footer__menu .menu__list {
    display: flex;
    justify-content: space-around;
  }
}
.footer__menu .menu__item a {
  color: #e4bd48;
  text-decoration: none;
  font-family: muli, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
}

@media screen and (min-width: 800px) {
  .program {
    margin: -100px auto 0 auto;
    position: relative;
    z-index: 1;
    background-color: #ffffff;
    width: 90%;
  }
}

.timeline {
  padding: 50px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 60px;
  grid-template-rows: auto;
  grid-template-areas: "first ." ". second" "third ." ". fourth" "fifth .";
}
.timeline__item {
  position: relative;
  padding: 0 20px;
  background-color: #f4f0ed;
  border-radius: 20px;
}
.timeline__item:nth-of-type(even) {
  text-align: left;
}
.timeline__item:nth-of-type(even)::after {
  content: "";
  background-color: #e4bd48;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 5px);
  left: -34px;
}
.timeline__item:nth-of-type(even)::before {
  content: "";
  width: 30px;
  height: 1px;
  background-color: #e4bd48;
  position: absolute;
  top: calc(50% - 1px);
  left: -30px;
}
.timeline__item:nth-of-type(odd) {
  text-align: right;
}
.timeline__item:nth-of-type(odd)::after {
  content: "";
  background-color: #e4bd48;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 5px);
  right: -36px;
}
.timeline__item:nth-of-type(odd)::before {
  content: "";
  width: 30px;
  height: 1px;
  background-color: #e4bd48;
  position: absolute;
  top: calc(50% - 1px);
  right: -30px;
}
.timeline__item h3 {
  font-style: italic;
}
.timeline::before {
  content: "";
  background-color: #e4bd48;
  width: 2px;
  height: 100%;
  position: absolute;
  margin: auto;
  left: 50%;
  border-radius: 3px;
}

.first {
  grid-area: first;
}

.second {
  grid-area: second;
}

.third {
  grid-area: third;
}

.fourth {
  grid-area: fourth;
}

.fifth {
  grid-area: fifth;
}/*# sourceMappingURL=style.css.map */