@use "variables";

.hero {
  margin: 0;
  color: variables.$main-bg;

  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2),
      rgba(201, 117, 78, 0.3)
    ),
    url(/images/main.jpg) center/cover;

}

.header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-style: italic;
  font-size: 30px;
  letter-spacing: 2px;
  @media screen and (min-width: 650px) {
    font-size: 40px;
  }
  p {
    margin: 0;
  }
}



