@use "variables";



.nav {
  text-align: center;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  min-width: 200px;
  flex: 0 1 20%;
  &__content {
    font-family: "Fuggles", cursive;
    color: white;
    margin: 0;
    font-size: 40px;
    &--reverse {
      color: #3b3838;
      font-size: 70px;
    }
  }
}

.menu {
  &__list {
    list-style: none;
    padding: 0;
    top: -100%;
    position: absolute;
    margin-top: 70px;
    width: 100%;
    display: flex;
    flex: 1 0 80%;
    flex-direction: column;
    background-color: rgba(225, 225, 225, 0.8);
    transition: top 1s ease-out;
    @media screen and (min-width: 1000px) {
      margin-top: 0;
      position: static;
      flex-direction: row;
      justify-content: flex-end;
      background-color: transparent;
    }
  }
  &__item {
    text-align: left;
    position: relative;
    @media screen and (min-width: 1000px) {
      margin: 10px 20px 0 10px;
      &:last-of-type a {
        border: 1px solid variables.$special;
        padding: 0 10px;
        &:hover {
          background-color: variables.$special;
          color: variables.$main-bg;
        }
        &::after {
          content: none;
        }
      }
    }
    a {
      color: variables.$header-color;
      text-decoration: none;
      text-transform: uppercase;
      font-style: italic;
      line-height: 2.5;
      padding-left: 20px;
      @media screen and (min-width: 1000px) {
        color: variables.$main-bg;
        font-family: variables.$font-btn;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        letter-spacing: 3px;
        display: block;
        padding: 0;
        &::after {
          content: "";
          position: absolute;
          top: 25px;
          width: 100%;
          right: -20%;
          height: 1px;
          background-color: transparent;
          transition: right 0.5s ease;
          overflow: hidden;
        }
      }
    }
    &:hover a:after {
      right: 0;
      background-color: variables.$special;
    }
  }
}

.hamburger {
  margin: 20px;
  padding: 4px;
  justify-self: right;
  cursor: pointer;
  background-color: variables.$special;
  @media screen and (min-width: 1000px) {
    display: none;
  }

}
.bar1, .bar2, .bar3 {
  width: 25px;
  height: 3px;
  background-color: variables.$main-bg;
  margin: 5px 5px;
  transition: 0.4s;
  border-radius: 4px;
}
.change .bar1 {
  transform: rotate(-45deg) translate(-6px, 7px) ;
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  transform: rotate(45deg) translate(-4px, -6px) ;
}

.active {
  top: 0;
}