@use "variables";


.program {
  @media screen and (min-width: 800px) {
    margin: -100px auto 0 auto;
    position: relative;
    z-index: 1;
    background-color: variables.$main-bg;
    width: 90%;
  }
}

.timeline {
  padding: 50px;
  position: relative;
  display: inline-block;
  &__item {
    padding: 10px 20px;
    background-color: variables.$dark-bg;
    border-radius: 20px;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
    @media screen and (min-width: 650px) {
      width: calc(50% - 30px);
      clear: both;
      min-height: 160px;

    }
    &:not(:first-child) {
      @media screen and (min-width: 650px) {
        margin-top: -80px;
      }
    }
    &:nth-of-type(even) {
      @media screen and (min-width: 650px) {
        float: right;
      }
      &::after {
        content: "";
        background-color: variables.$special;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        position: absolute;
        top: calc(50% - 5px);
        left: -34px;
      }
      &::before {
        content: "";
        width: 30px;
        height: 1px;
        background-color: variables.$special;
        position: absolute;
        top: calc(50% - 1px);
        left: -30px;
      }
    }
    &:nth-of-type(odd) {
      @media screen and (min-width: 650px) {
        float: left;
      }
      &::after {
        content: "";
        background-color: variables.$special;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        position: absolute;
        top: calc(50% - 5px);
        left: -34px;
        @media screen and (min-width: 650px) {
          right: -36px;
          left:auto;
        }
      }
      &::before {
        content: "";
        width: 30px;
        height: 1px;
        background-color: variables.$special;
        position: absolute;
        top: calc(50% - 1px);
        left: -30px;
        @media screen and (min-width: 650px) {
          right: -30px;
          left: auto;
        }
      }
    }
    h3 {
      font-style: italic;
    }
  }
  &::before {
    content: "";
    background-color: variables.$special;
    width: 2px;
    position: absolute;
    margin: 0 auto;
    border-radius: 10px;
    left: 20px;
    height: 93%;
    @media screen and (min-width: 650px) {
      left: 50%;
     }
  }

}
