@use "variables";


.program {
  @media screen and (min-width: 800px) {
    margin: -100px auto 0 auto;
    position: relative;
    z-index: 1;
    background-color: variables.$main-bg;
    width: 90%;
  }
}

.timeline {
  padding: 50px;
  position: relative;
  @media screen and (min-width: 650px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
    grid-template-rows: auto;
    grid-template-areas: 
    "first ."
    ". second"
    "third ."
    ". fourth"
    "fifth .";
  }
  &__item {
    position: relative;
    padding: 0 20px;
    background-color: variables.$dark-bg;
    border-radius: 20px;
    &:nth-of-type(even) {
      text-align: left;
      &::after {
        content: "";
        background-color: variables.$special;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        position: absolute;
        top: calc(50% - 5px);
        left: -34px;
      }
      &::before {
        content: "";
        width: 30px;
        height: 1px;
        background-color: variables.$special;
        position: absolute;
        top: calc(50% - 1px);
        left: -30px;
      }
    }
    &:nth-of-type(odd) {
      @media screen and (min-width: 650px) {
        text-align: right;
      }
      &::after {
        content: "";
        background-color: variables.$special;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        position: absolute;
        top: calc(50% - 5px);
        left: -34px;
        @media screen and (min-width: 650px) {
          right: -36px;
          left:auto;
        }
      }
      &::before {
        content: "";
        width: 30px;
        height: 1px;
        background-color: variables.$special;
        position: absolute;
        top: calc(50% - 1px);
        left: -30px;
        @media screen and (min-width: 650px) {
          right: -30px;
          left: auto;
        }
      }
    }
    h3 {
      font-style: italic;
    }
  }
  &::before {
    content: "";
    background-color: variables.$special;
    width: 2px;
    height: 90%;
    position: absolute;
    margin: auto;
    border-radius: 10px;
    left: 20px;
    @media screen and (min-width: 650px) {
      left: 50%;
      height: 97%;
    }
  }
}
.first {
  grid-area: first;
}
.second {
  grid-area: second;
}
.third {
  grid-area: third;
}
.fourth {
  grid-area: fourth;
}
.fifth {
  grid-area: fifth;
}