$main-bg: #ffffff;
$dark-bg: #f4f0ed;
$special: rgb(209, 165, 69);
$main-color: #9b9b9b;
$header-color: #4d504a;
$font-main: "EB Garamond", serif;
$font-h1: "Cormorant Garamond", serif;
$font-btn: "Montserrat", sans-serif;