@use "variables";
@use "hero";
@use "nav";
@use "program";
@use "footer";
@use "headers";
@use "gallery";



* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: variables.$font-main;
  background-color: white;
  margin: 0;
  padding: 0;
  color: variables.$main-color;
  font-size: 18px;
  font-weight: 300;
}

a {
  color: variables.$special;
}



.place {
  color: variables.$main-color;
  text-align: center;
  &__text {
    font-style: italic;
    font-size: 24px;
    max-width: 85%;
    margin: auto;
  }
}

iframe {
  margin: 0;
  padding: 0;
  display: block;
}



.contacts {
  background-color: variables.$dark-bg;
  &__box {
    width: 80%;
    padding-bottom: 180px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 50px;
  }
  &__gradient {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(201, 117, 78, 0.3)
    );
  }
  &__divider {
    position: relative;
    z-index: -1;
    width: 100%;
    height: 600px;
    object-fit: cover;
    display: block;
  }
}
.card {
  text-align: center;
  &__foto {
    width: 100%;
    padding: 30px;
  }
}



.info {
  background-color: variables.$dark-bg;
  background: url(/images/leaf-ornament.png);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 100px;
  &__box {
    max-width: 85%;
    margin: 100px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
  }
}
.box {
  position: relative;
  text-align: center;
  border: 3px double variables.$special;
  padding: 20px;
  &__icon {
    position: absolute;
    top: -25px;
    left: 0;
    right: 0;
    margin: auto;
    fill: variables.$main-bg;
    background-color: variables.$special;
    border-radius: 50%;
    padding: 5px;
    width: 50px;
  }
}

.form {
  background: url(/images/bg.jpg) center/cover;
  text-align: center;
  &__text {
    max-width: 70%;
    margin: auto;
  }
  &__button {
    display: inline-block;
    background-color: variables.$special;
    color: variables.$main-bg;
    font-family: variables.$font-btn;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 10px;
    margin: 130px;
  }
}


.accom {
  text-align: center;
  max-width: 85%;
  margin: auto;
  padding-bottom: 100px;
}



.story {
  padding-bottom: 100px;
  text-align: center;
  background-color: variables.$dark-bg;
  p {
    max-width: 85%;
    margin: auto;
  }
}



