@use "variables";
@use "hero";
@use "nav";
@use "program";
@use "footer";
@use "headers";



* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: variables.$font-main;
  background-color: white;
  margin: 0;
  padding: 0;
  color: variables.$main-color;
  font-size: 18px;
  font-weight: 300;
}

a {
  color: variables.$special;
}

section:nth-of-type(even) {
  background-color: variables.$dark-bg;
  &:nth-of-type(4) {
    background: none; 
  }
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 1.3s ease;
}

.reveal.reveal--active {
  transform: translateY(0);
  opacity: 1;
}

.place {
  color: variables.$main-color;
  background: url(/images/leaf-ornament-rotate.png) no-repeat top;
  background-size: 100%;
  text-align: center;
  &__text {
    font-style: italic;
    font-size: 24px;
    max-width: 85%;
    margin: auto;
  }
  &__image {
    width: 100%;
    display: block;
  }
}

iframe {
  margin: 0;
  padding: 0;
  display: block;
  filter: grayscale(0.8);
  opacity: 0.8;
}



.contacts {
  &__box {
    width: 80%;
    padding-bottom: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: 1024px;
    flex-direction: column;

    @media screen and (min-width: 1000px) {
      flex-direction: row;
    }

  }
  &__gradient {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(201, 117, 78, 0.3)
    );
  }
  &__divider {
    position: relative;
    z-index: -1;
    width: 100%;
    height: 350px; 
    object-fit: cover;
    object-position: bottom;
    display: block;
     @media screen and (min-width: 1000px) {
      height: 450px;
      object-position: center;
    }
    @media screen and (min-width: 1400px) {
      height: 550px;
    }
  }
}
.card {
  text-align: center;
  &__foto {
    width: 100%;
    padding: 30px;

  }

  &__role {
    font-size: 31px;
    margin: 8px;
  }
}



.info {
  background: url(/images/leaf-ornament.png);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 100px;
  &__box {
    max-width: 85%;
    margin: 100px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
  }
}
.box {
  position: relative;
  text-align: center;
  border: 3.5px double variables.$special;
  padding: 20px;
  &__icon {
    position: absolute;
    top: -25px;
    left: 0;
    right: 0;
    margin: auto;
    fill: variables.$main-bg;
    background-color: variables.$special;
    border-radius: 50%;
    padding: 5px;
    width: 50px;
  }
}

.form {
  @media screen and (min-width: 800px) {
    display: flex;
  }
  &__img {
    flex: 0 1 50%;
    margin: 20px;
    & img {
      width: 100%;
    }
  }
  &__container {
    flex: 1 0 50%;
    text-align: center;
    p {
      max-width: 85%;
    }
  }
  &__text {
    margin: auto;
    padding-top: 50px;
  }
  &__button {
    display: inline-block;
    background-color: variables.$special;
    color: variables.$main-bg;
    font-family: variables.$font-btn;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 10px;
    margin: 100px auto 0 auto;
  }
}

.home {
  padding-bottom: 100px;
  text-align: center;

  p {
    max-width: 85%;
    margin: auto;
    @media screen and (min-width: 1000px) {
      max-width: 60%;
    }
  }
}

.hexagon {
  position: relative;
  height: 500px;
  width: 500px;
  background: rgb(209, 165, 69);
  @media screen and (max-width: 1300px) {
    height: 400px;
    width: 400px;
  }
  @media screen and (max-width: 1000px) {
    height: 350px;
    width: 350px;
  }
  @media screen and (max-width: 800px) {
    height: 320px;
    width: 320px;
  }
  @media screen and (max-width: 600px) {
    height: 250px;
    width: 250px;
  }
}

.hexagon:before, .double:after {
  position: absolute;
  content: '';
}

.hexagon:before {
  top: 2px; /* border width */
  left: 2px; /* border width */
  height: calc(100% - 4px); /* 100% - (2 * border width) */
  width: calc(100% - 4px); /* 100% - (2 * border width) */
  background: white;
}

.hexagon, .hexagon:before, .double:after {
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.double:after {
  top: 4px;
  left: 4px;
  height: calc(100% - 8px);
  width: calc(100% - 8px);

  background-size: cover !important;
}

.double_a:after {
  background: url(/images/jirka7.png);

}

.double_b:after {
  background: url(/images/jkulda.jpg);

}


.hexagon {
  display: inline-block;
  margin: 20px;
}



